<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Menu</title>
</head>

<body>
<header th:fragment="header">
    <div content="width=device-width">
        <div style="height:40px;border:2px solid black;" class="row bg-dark text-white">
            <div>
                <p style="text-align: center;" class="text-white">Pay My Buddy</p>
            </div>
        </div>
    </div>
</header>

</body>
</html>