<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${authentication.getName()}"></p>
<p>HOMEPAGE</p>
<p>qnkjnvjkerv</p>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="head :: head"></div>
    <title>Home</title>
</head>
<body>

<div th:replace="header :: header"></div>

<div th:replace="menu :: menu"></div>
<div th:replace="breadcrumb :: breadcrumb"></div>


<div style="height:30px;"></div>
<div class="offset-md-3"></div>
<div class="container">
    <div class="container ">
        <h4 style="float:left ">My informations</h4>
    </div>
</div>

<p><br></p>
<div class="container ">
    <table class="table table-striped justify-content-center ">
        <thead style="background-color : green;">
        <tr style="color : white;">

            <th scope="col">PRENOM</th>
            <th scope="col">NOM</th>
            <th scope="col">EMAIL</th>
            <th scope="col">CREDIT</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${utilisateur.prenom}"></td>
            <td th:text="${utilisateur.nom}"></td>
            <td th:text="${utilisateur.email}"></td>
            <td th:text="${utilisateur.solde}"></td>
            <!--   <td th:text="${authentication.getEmail()}"></td>
              <td th:text="${authentication.getSolde()}"></td>
               <td  th:text="${authentication.getFirstName()}"></td>-->
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>