<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Menu</title>
</head>
<body>
<!-- A horizontal navbar that becomes vertical on small screens -->
<div container th:fragment="menu">
    <div class="row align-items-center">
        <div class="col">
            <a href="home" class="btn btn-success pt-3">Pay My Buddy</a>
        </div>
        <div class="col">
            <nav style="float:right;" class="navbar navbar-expand-lg bg-white">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="transaction">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Log off</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>