<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="head :: head"></div>
    <title>Transfer</title>
</head>
<body>

<div th:replace="header :: header"></div>
<p th:text="${authentication.getName()}"></p>
<div th:replace="menu :: menu"></div>
<div th:replace="breadcrumb :: breadcrumb"></div>


<p><br></p>
<div class="container">
    <div class=" justify-content-start">
        <h4 style="float:left ">Send money</h4>
        <a style="float:right " class="btn btn-primary" href="/homepage/connection">Add Connection</a>
    </div>
</div>
<p><br></p>
<p><br></p>
<div style="background-color : #E1DFDF;" class="container">
    <p><br></p>
    <form th:action="@{/homepage/transfer}" method="post" th:object="${transactionDto}">
        <div style="display:inline;">
            <!--  <select style="display:inline;" class="offset-md-1 col-md-3 form-select" aria-label="Default select example">
                  <option selected>Select A Connection</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
              </select> -->
            <select required style="display:inline;" class="offset-md-1 col-md-3 form-select"
                    aria-label="Default select example" th:field="*{recipientid}">
                <option disabled selected value="">Select A Connection</option>
                <option th:each="u : ${utilisateur.connections}" th:value="${u.id}"
                        th:text="@{${u.nom} + ' ' + ${u.prenom}}"></option>
            </select>
        </div>
        <div style="display:inline;" class="col offset-md-1">
            <label>Amount</label>
            <input
                    style="width:150px; " type="number"
                    placeholder="0€" th:field="*{amount}">

        </div>
        <div style="display:inline;" class="col offset-md-1">
            <label>Description</label>
            <input
                    style="width:150px; " type="text"
                    placeholder="Description" th:field="*{description}">

        </div>
        <div style="display:inline;" class="col offset-md-1">
            <button value="pay" name="action" type="submit" class="mr-4 btn btn-success">Pay</button>
        </div>
        <p><br></p>
    </form>
</div>

<div style="height:30px;"></div>
<div class="offset-md-3"></div>
<div class="container">
    <div class="container ">
        <h4 style="float:left ">Send money</h4>
    </div>
</div>
<p><br></p>
<div class="container ">
    <table class="table table-striped justify-content-center ">
        <thead style="background-color : green;">
        <tr style="color : white;">

            <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${utilisateur.transfers}">

            <!--  ******************************
              <option disabled selected value="">Select A Connection</option>
              <option th:each="u : ${utilisateur.connections}" th:value="${u.email}"
                      th:text="@{${u.nom} + ' ' + ${u.prenom}}"></option>
              ****************************** -->
            <td>Mark</td>
            <td>Otto</td>
            <td>10 €</td>
        </tr>
        <tr>

            <td>Jacob</td>
            <td>Thornton</td>
            <td>20 €</td>
        </tr>
        <tr>

            <td>Larry the Bird</td>
            <td>Salut</td>
            <td>30 €</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>